@charset "UTF-8";

 * {
    margin: 0;
    box-sizing: border-box;
    
}

main {
	margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}



main {
    height: 490px;
    width: 450px;
    padding: 100px 0;
    border: #EFEFEF solid 2px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.logo {
    margin-bottom: 40px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

input {
    height: 45px;
    width: 300px;
    margin-bottom: 10px;
    background-color:#FAFAFA;
    border: #EFEFEF 1px solid;
    border-radius: 6px;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.login-btn {
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border: white;
    margin-bottom: 100px;
    background-color: #3849ea;
    color: white;
    font-size: 17px;
}

.login-btn:hover {
    cursor: pointer;
}

footer {
	margin-top : 5px;
    color: black;
}

	
