@charset "EUC-KR";
* {
    margin: 0;
    box-sizing: border-box;
    
}
form{
	margin-top:-85px;
    
}
 form.login{
 	margin-bottom:2px;
 }

.img{
	margin-top:-62px;
}

 main {
    height: 820px;
    width: 550px;
    padding: 100px 0;
    border: #EFEFEF solid 0px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-bottom: 40px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

  input , select {
    height: 45px;
    width: 300px;
    margin-bottom: 10px;
    background-color:#FAFAFA;
    border: #EFEFEF 1px solid;
    border-radius: 6px;
    padding-left: 10px;
}

.button{
	font-weight:bolder;
}

.delete{
	color: rgb(232, 230, 227);
    background-color: rgb(165, 29, 42);
    border-color: rgb(148, 26, 37);
	margin-top: 10;
}
#one{
	margin-right : 74;	
}

#two{
	margin-right : 60;	
}

#three{
	margin-right : 60;	
}

#four{
	margin-right : 82;	
}

#five{
	margin-right : 82;
}
#six{
	margin-right : 100;
}
