@charset "UTF-8";

.head {
	width: 40%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 10px;
	margin-top: 50px;
}

.headTable {
	margin: auto;
	width: 100%;
}

.text_id {
	font-size: 1.2em;
	color: #4793d7;
}

.following {
	text-decoration: none;
	color: black;
}

.following:hover {
	font-weight: bold;
	color: black;
}

.main_nav {
	width: 40%;
	margin: 0 auto;
	padding-bottom: 10px;
}

.mainNavLogo {
	width: 40px;
	height: 32px;
}

.main_nav_icon:hover {
	font-weight: bold;
	font-size: 1.1em;
	cursor: Default;
	color: #4793d7;
}

.proImg {
	width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}

.profile{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 메인부분 */
.main {
	width: 40%;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	margin-bottom: 15px;
}
#dropdown03{
	color: black;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
}

.align-items-center {
	align-items: center !important
}

.fixed-width {
	width: 612px;
}

.img-circle {
	width: 42px;
	height: 42px;
	border-radius: 70%;
	overflow: hidden;
}

.img-circle-small {
	width: 14px;
	height: 14px;
	margin-right: 5px;
}

.img-circle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu-icon {
	font-size: 25px;
	margin-right: 15px;
	-webkit-text-stroke: 2px
}

.mId-text {
	font-size: 16px;
	font-weight: bold;
	color: #4793d7;
	cursor: pointer;
}

.mId-text:hover {
	color: #4793d7;
}

#nameCrtDate {
	width: 100%
}

.id-text {
	color: #4793d7;
}

.id-text:hover {
	color: #4793d7;
}

.font-default-size {
	font-size: 14px;
}

.margin-top {
	margin-top: 72px;
}

.cursor {
	cursor: pointer;
}

.overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.crt_date-text {
	font-size: 0.8em;
	color: #828282;
}

.crt_date-text:hover {
	color: #828282;
}

.modDel{
	float: right;
}

.email-text {
	color: #828282;
}

.email-text:hover {
	color: #828282;
}

.reply-submit-btn {
	border: 0;
	background-color: white;
	color: #0095f6;
}

.reply-submit-btn:disabled {
	color: #8095f6;
}

.reply_input {
	position: relative;
	background: 0 0;
	border: 0;
	color: #262626;
	color: rgba(var(- -i1d, 38, 38, 38), 1);
	height: 20px;
	outline: 0;
	padding: 0;
	resize: none;
	overflow: hidden;
	width: 100%;
}

#reply_table #rpText{
	width: 700px;"
}

.post_writing {
	width: 95%;
	margin: 0 auto;
	padding: 20px 0;
}

.postContent {
	font-size: 1.2em;
}

.postContent2 {
	font-size: 1.8em;
}

.post-pics {
	position: relative;
	overflow: hidden;
}

.fixed-square {
	width: 612px;
	height: 612px;
}

.thumnail {
	cursor: pointer;
}

.noPost {
	padding-top: 50px;
	margin: 0 auto;
	width: 40%;
	text-align: center;
}

.noPost i {
	font-size: 200px;
}

.noPost span {
	font-size: 30px;
	font-weight: bold;
}

.topNavbar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.crtMod{
	margin-top: 8px;
}

#reTwinBtn{
	font-size: 1.3em;
	font-weight: bold;
	cursor: pointer;
}

.rt1{
	float: right;
} 

.rtId{
	font-size: 1.1em;
	font-weight: boid;
	color: black;
	cursor: pointer;
}

.rtCo{
	font-size: 0.8em;
	color: gray;
}

.rts{
	font-size: 0.8em;
	color: gray;
	float: right;
}